@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
	--accent-color:#444d56;
	--header-color:#24292e;
	--secondary-color:#eaecef;
	--blue-accent:#0366d6;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	min-width: 100%;
	min-height: 100vh;
}

.body-container{
	min-height:100vh;
	width: 100%;
}

.inactive{
	display:none;
}



/* THE TOP NAV */
.main-nav{
	height: 63px;
	width:100%;
	background:var(--header-color);
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding: 12px 2vw;
	color: white;
}


.main-nav-left{
	height:100%;
	display:flex;
	align-items:center;
}

.main-nav-left>i{
	font-size: 35px;
	cursor:pointer;
}


.main-nav-left>input,
.main-nav-sec>input{
	height: 33px;
	width: 250px;
	min-width: 180px;
	border: 1px solid var(--accent-color);
	border-radius: 5px;
	vertical-align: middle;
	font-size: 13px;
	text-transform:lowercase;
	color:white;
	background:#24292e;
	padding: 12px 12px;
	margin:	0 15px;
	background-image: url('../img/square-regular.svg');
  background-position: 95.5% ;
  background-size: 3vh;
  background-repeat: no-repeat;
  transition: all 0.3s ease-out;
}

.main-nav-left>input:focus,
.main-nav-sec>input:focus{
	background:#fff;
	color:black;
	outline: transparent;
	border: 1px solid var(--blue-accent);
	width:40vw;
}

.main-nav-left>input::placeholder, 
.main-nav-sec>input::placeholder {
  color: lightgrey;
  opacity: 1;
}

.main-nav-left>ul{
	display:inline-flex;
}

.hidden-letter{
	display:none;
}

.main-nav-left>ul>li{
	list-style:none;
	font-size: 13px;
	font-weight:bold;
	letter-spacing: 1.5px;
	margin: 0 1.5vw 0 0;
	cursor:not-allowed;
}
.main-nav-left>ul>li:hover{
	color: darkgrey;
}

.main-nav-right{
	display:flex;
	align-items:center;
}

.main-nav-right>*{
	margin-left: 12px;
	cursor:not-allowed;
}

.main-nav-right>i:first-child::after,
.main-nav-sec>i:nth-child(3)::after{
	content:'\f111';
	position: relative;
	top: -7px;
	right: 7px;
	color: #0366d6;
	font-size: 9px;
}

.main-nav-right>i:nth-child(2)::after{
	content:'\f0d7';
	position: relative;
	color: white;
	font-size: 15px;
	margin-left: 5px;
}

.main-nav-right>div{
	display:flex;
	align-items:center;
}

.mini-avatar{
	height: 25px;
	width:25px;
	border-radius:50%;
}


.main-nav-right>div>i{
	margin-left: 5px;
}

.main-nav-right>img:first-child::after{
	content:'\f0d7';
	position: relative;
	color: white;
	font-size: 15px;
	margin-left: 5px;
}

.main-nav-sec{
	width:100%;
	background:var(--header-color);
	display:flex;
	justify-content: space-between;
	align-items:center;
	display:none;
}

.main-nav-sec>i{
	cursor:pointer;
}

.main-nav-sec>i:nth-child(2){
	font-size: 5.5vh;
}

.main-nav-sec>i:first-child{
	font-size: 35px;
}

/* RESPOSITORIES HEADER */
.overview-header,
.overview-header2{
	width:100%;
	height: 50px;
	position: -webkit-sticky;
	position:sticky;
	top:0;
	background:white;
	border-bottom: 1px solid var(--secondary-color);
	color: var(--header-color);
	display:flex;
	align-items:center;
	margin-top: 20px;
	padding: 0 4vw;
	z-index:3;
	grid-column:span 2;
}

.mini-avi-area{
	width: 26%;
	height:100%;
	display:flex;
	align-items:center;
}

.mini-avi-area.invisible{
	visibility:hidden;
}

.mini-avi-area>strong{
	margin-left: 5px;
	font-size:14px;
}

.respository-nav{
	height:100%;
	width:74%;
}

.respository-nav>h3{
	height:100%;
	width: 190px;
	font-size: 13.5px;
	font-weight: regular;
	letter-spacing:1px;
	display:flex;
	align-items:center;
	justify-content:center;
	border-bottom: 2px solid #f9826c;
}

.respository-nav i{
	margin-right: 11px;
}

.respository-nav span{
	font-size: 12px;
	margin-left: 11px;
	min-height:26px;
	min-width:26px;
	background: var(--secondary-color);
	padding: 5px 7px;
	border-radius: 15px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.user-container{
	position:relative;
	min-height: 80vh;
	width:100%;
	top: -50px;
	display:flex;
	justify-content: space-between;
	padding: 15px 4vw;
}



.profile-area{
	width:26%;
}


.profile-avatar{
	position:relative;
	height: 21vw;
	width:21vw;
	border-radius:50%;
	margin-bottom: 15px;
	z-index:4;
}

.profile-name-wrapper{
	position:relative;
}

.profile-name{
	margin-bottom: 4px;
}

.profile-bio{
	margin-top: 15px;
	position:static;
	font-size: 14.5px;
}

.repository-area{
	position:relative;
	width:76%;
	margin-top: 50px;
}

.rep-input-wrapper{
	height:50px;
	width: 100%;
	border-bottom: 1px solid var(--secondary-color);
}

.rep-input-wrapper>input{
	height: 33px;
	width: 100%;
	min-width: 180px;
	border: 1px solid var(--secondary-color);
	border-radius: 5px;
	vertical-align: middle;
	font-size: 13px;
	padding: 12px 12px;
}

.rep-input-wrapper>input:focus{
	background:#fff;
	outline: 2px solid rgba(135,206,235,0.2);
	border: 1px solid #0366d6;
	box-shadow:
    0 0 0 3px hsl(212, 73%, 83%);
}

.repository-area>h3{
	color: var(--header-color);
	height: 50px;
	display:flex;
	align-items:center;
	border-bottom: 1px solid var(--secondary-color);
}

.repository-area>h3.inactive{
	display:none;
}

.respositories-wrapper{
	width:100%;
	height:100%;
}

.main-respository{
	min-height: 150px;
	width:100%;
	padding: 20px 0;
	display:flex;
	flex-direction:column;
	justify-content: space-evenly;
	border-bottom: 1px solid var(--secondary-color);
}

.main-respository-head{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.respository-name{
	margin-bottom: 7px;
}

.main-respository-head>div>h3{
	color:#0366d6;
}

.main-respository-head>i{
	height: 30px;
	min-width: 70px;
	font-size: 13.5px;
	color:#6a737d;
	border: 1px solid var(--secondary-color);
	border-radius: 5px;
	padding: 0 10px;
	background:#fafbfc;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
}

.the-star{
	margin-left:5px;
	font-weight:lighter;
	color: var(--header-color);
}

.main-respository-head>div>p{
	width:60%;
	font-weight:100;
	font-size: 14px;
	line-height: 22px;
	color:#586069;
}

.main-respository>footer{
	display:flex;
	margin-top: 15px;
}

.main-respository>footer>*{
	margin-right:20px;
	font-size: 13px;
}

.main-respository>footer>p>i{
	margin-right: 5px;
}




.overview-header2.inactive{
	display:none;
}

/* FOOTER */
.git-footer{
	height:55px;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding: 5px;
	background:lightgrey;
	bottom:0;
}


/* LOADING SCREEN */
.screen-loader{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:80;
}

.screen-loader.inactive{
	display:none;
}

.loading-wrapper{
	display:flex;
	justify-content:center;
	align-items: center;
	min-height: 100vh;
	background: #f5f5f5;
	animation: animateBg 10s linear infinite;
}

@keyframes animateBg{
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter:hue-rotate(360deg);
	}
}


.loading-wrapper .loader{
	position: relative;
	width: 120px;
	height: 120px;
}

.loading-wrapper .loader span{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	transform: rotate(calc(12deg * var(--i)));
}

.loading-wrapper .loader span:before{
	content: '';
	position:absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	background: #00ff0a;
	box-shadow:0 0 10px #00ff0a,
				0 0 20px #00ff0a,
				0 0 40px #00ff0a,
				0 0 60px #00ff0a,
				0 0 80px #00ff0a,;
	animation: animate 2s linear infinite;
	animation-delay: calc(0.2s * var(--i));
}

@keyframes animate{
	0%{
		transform:scale(1);
	}
	
	80%, 100%{
		transform:scale(0);
	}
}

/* EEROR BOX */
.error-box{
	position:fixed;
	height: 50px;
	min-width: 200px;
	top:12%; 
	right:50%;
	transform:translateX(50%);
	background:var(--header-color);
	color:white;
	border-radius: 6px;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:60;
	transition: all 0.3s ease-in;
	display:none;
}


.error-box.active{
	display:flex;
}

*.home{
	display:none;
}

/* HOME SCREEN */
.home-screen{
	position:fixed;
	top:50%;
	transform:translate(0%, -50%);
	height: 400px;
	width: 100%;
	padding: 0 20px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
}

.home-screen.home{
	display:none;
}

.home-screen>p{
	font-size:20px;
	max-width:500px;
	min-height: 250px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border-radius: 8px;
	margin-bottom:40px;
	padding: 15px;
	background:linear-gradient(180deg,hsl(0,0%,100%,0),#fff),
	linear-gradient(70deg,#f1f8ff 32%,#dcffe4);
}

.home-screen>input{
	height: 38px;
	width: 250px;
	border: 1px solid var(--accent-color);
	border-radius: 5px;
	vertical-align: middle;
	font-size: 13px;
	text-transform:lowercase;
	background:#f6f8fa;
	padding: 12px 12px;
	margin:	0 15px;
  transition: all 0.3s ease-out;
}

.home-screen>input:focus{
	background:#fff;
	outline: 2px solid rgba(135,206,235,0.2);
	border: 1px solid #0366d6;
	box-shadow:
    0 0 0 3px hsl(212, 73%, 83%);
}

.main-nav.home-tune,
.main-nav-sec.home-tune{
	justify-content:center;
}

@media(max-width:1020px){
	.main-nav-left>ul>li:first-child span:nth-child(2){
		display:none;
	}
	
	.main-nav-left>ul>li:first-child span:first-child{
		display:inline-block;
	}
	
	.main-nav-left>input:focus,
	.main-nav-sec>input:focus{
		width:32.5vw;
	}
	
	
}

@media(max-width:770px){
	.main-nav-left,
	.main-nav-right{
		display:none;
	}
	
	.main-nav-sec{
		display:flex;
	}
	
	.user-container{
		top: 0;
		margin-top:20px;
		flex-direction:column;
		padding: 0 2.5vw;
	}
	.profile-area{
		width:100%;
	}
	
	.profile-area>div{
		display:flex;
		align-items:center;
	}
	
	.profile-avatar{
		margin-right:20px;
	}
	.mini-avi-area{
		display:none;
	}
	
	.overview-header{
		display:none;
	}
	
	.overview-header2.inactive{
		display:flex;
		padding: 0 0;
	}
	
	.repository-area{
		margin-top:20px;
		width:100%;
	}
}

